*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
build.gradle
gradlew.bat
gradlew
gradle.properties
app/.gitignore
settings.gradle
app/proguard-rules.pro
app/src/androidTest/java/com/wyc/ticket/ExampleInstrumentedTest.java
app/src/test/java/com/wyc/ticket/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
